doc/examples/all.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://example.org/" xmlns="http://example.org/" 
	elementFormDefault="qualified">

	<xs:element name="foobar">
		<xs:complexType mixed="true">
			<xs:all>
				<xs:element name="foo" type="xs:string" minOccurs="0"/>
				<xs:element name="bar" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

</xs:schema>
