doc/examples/cardinality1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.org/" xmlns="http://example.org/">
	<xs:element name="foo" type="xs:string"/>
	<xs:element name="bar" type="xs:string"/>
	
	<xs:complexType name="Foobar">
		<xs:all>
			<xs:element ref="foo"/>
			<xs:element ref="bar" maxOccurs="unbounded"/>
		</xs:all>
		<xs:attribute name="baz" type="xs:string"/>
	</xs:complexType>

</xs:schema>
