doc/examples/choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://example.org/" xmlns="http://example.org/"
	elementFormDefault="qualified">
	
	<xs:element name="foobar">
		<xs:complexType>
			<xs:choice>
				<xs:element name="foo" maxOccurs="unbounded"/>
				<xs:element name="bar" />
			</xs:choice>
 		</xs:complexType>
 	</xs:element>

</xs:schema>
