doc/examples/elementIDREFS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://example.org/" elementFormDefault="qualified">
	
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="foo" type="xs:ID" />
				<xs:element name="bar" type="xs:IDREFS" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
