doc/examples/elementIdentity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://example.org/" elementFormDefault="qualified">
	
	<xs:element name="identity">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="foo">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:anySimpleType">
								<xs:attribute name="id" type="xs:ID" />
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="bar" type="xs:IDREF" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
