doc/examples/group.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://example.org/" xmlns="http://example.org/"
	elementFormDefault="qualified">
	
	<xs:group name="myGroup">
		<xs:all>
			<xs:element name="foo" />
		</xs:all>
	</xs:group>
	
	<xs:element name="barfoo">
		<xs:complexType>
			<xs:group ref="myGroup" minOccurs="0" maxOccurs="0" />
		</xs:complexType>
	</xs:element>

</xs:schema>
