doc/examples/range.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://example.org/" xmlns="http://example.org/"
	elementFormDefault="qualified">
	
	<xs:complexType name="FooBar">
		<xs:sequence>
			<xs:element name="foobar" type="Foo" />
			<xs:element name="foobar" type="Bar" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Foo" />
	<xs:complexType name="Bar" />
	
</xs:schema>
