doc/examples/sequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://example.org/" xmlns="http://example.org/"
	elementFormDefault="qualified">
	
	<xs:element name="foo" />
	<xs:element name="bar" />
	
	<xs:element name="foobar">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="foo" />
				<xs:element ref="bar" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
