doc/examples/space.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://example.org/" xmlns="http://example.org/">

	<xs:element name="foobar">
    	<xs:complexType mixed="true">
    		<xs:sequence>
    			<xs:element ref="foo" />
    			<xs:element ref="bar" />
    		</xs:sequence>
    	</xs:complexType>
	</xs:element>
	
	<xs:element name="foo" type="xs:string" />
	
	<xs:element name="bar">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
</xs:schema>
