doc/examples/substitution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://example.org/" xmlns="http://example.org/" >
	
	<xs:element name="foo" />	
	<xs:element name="bar" substitutionGroup="foo" />
	<xs:element name="foobar" type="Foobar" />
	
	<xs:complexType name="Foobar">
		<xs:sequence>
			<xs:element ref="foo" />
			<xs:element ref="bar" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
