doc/examples/seq/ordering1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://example.org/" xmlns="http://example.org/" elementFormDefault="qualified">

	<xs:element name="foobar">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="foo" type="xs:string"/>
				<xs:element name="bar" type="xs:string" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
